// body{
//     font-family: 'Helvetica Neue';
// }

// index.html
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 79px;
    font-family: 'Helvetica Neue';
    .redlogo{
        width: 112px;
        height: 18px;
        margin-bottom: 85px;
    }
    .main-image{
        max-width: 781px;
        width: 100%;
        margin-bottom: 123px;
    }
    .main-image-2{
        display: none;
    }
    @media(max-width: 391px){
        .main-image-2{
            display: block;
            margin-bottom: 122px;
        }
        .main-image{
            display: none;
        }
    }
    .btn{
        margin-bottom: 26px;
        max-width: 383px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: #62A1EB;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
        a{
            color: #FFFFFF;
        }
    }
}
// index2.html
.index2{
    background-color: #EBEBEB;
    font-family: 'Helvetica Neue';
    
    .workers-info-header{
        // margin-bottom: 96px;
        img{
            position: relative;
            top: 53px;
            left: 70px;
        }
        .titles{
            margin-top: 38px;
            display: flex;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            .info-h{
                margin-right: 66px;
            }
            .info2-h{
                margin-left: 66px; 
            }
            .info-h:after {
                content: "";
                float: left;
                background:#232323;
                max-width: 185px;
                width:100%;
                border: 1px solid #000000;
                border-radius: 3px;
                margin: 15px 0 27px 15px;
            }
            .info2-h:after {
                content: "";
                float: left;
                background:#232323;
                max-width: 263px;
                width:100%;
                border: 1px solid #000000;
                border-radius: 3px;
                margin: 15px 0 27px 4px;
            }
        }
    }
    // form---------workers info
    .workers-info-form{
        max-width:1226px;
        width: 100%;
        height: 973px;
        background-color: #FFFFFF;
        margin: 0 auto;
        border-radius: 18px;
        .registration{
            max-width: 878px;
            width: 100%;
            margin: 0 auto;

            .input-control.error input {
                border-color: #E52F2F;
            }
            
            .input-control.error label {
                color: #E52F2F;
            }
            .input-control.error {
                color: #E52F2F;

            }

            .input-control.error select {
                border-color: #E52F2F;
            }




            .form-name{
                display: flex;
                max-width: 878px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                div{
                    display: flex;
                    flex-direction: column;
                    max-width: 407px;
                    width: 100%;
                    margin-top: 96px;
                }
            }
            .mail-wrap,
            .phone-wrap{
                display: flex;
                flex-direction: column;
                max-width: 878px;
                width: 100%;
            }
            .mail-wrap{
                margin-top: 43px;
            }
            .phone-wrap{
                margin-top: 40px;
                span{
                    margin-bottom: 95px;
                }
            }
            input,
            select{
                outline: none;
                border: none;
                border-radius: 8px;
                height: 60px;
                border: 1.8px solid #8AC0E2;
                padding-left: 16px;
            }
            label{
                font-size: 18px;
                margin-bottom: 8px
            }
            span{
                font-size: 14px;
                margin-top: 8px
            }
            select{
               background-color: #EBEBEB; 
               max-width: 878px;
               width: 100%;
               margin-top: 45px;
            //    drop-down arrow s minda paddingi gavuwero marjvniv da ar shveba:
            //    padding-right: 19px;
            }
            select:first-child{
                font-size: 18px;
                font-family: 'Helvetica Neue';
            }
            .next-btn{
                max-width: 176px;
                width: 100%;
                height: 60px;
                background-color: #62A1EB;
                border-radius: 8px;
                text-align: center;
                color: #ffffff;
                border: none;
                font-size: 20px;
                float: right;
                cursor: pointer;
            }
        }
    }
    // 
    // index3.html
    // form---------laptop info
    .laptop-info-form{
        input{
            margin: 8px 0;
            font-size: 16px;
        }
        // font-family: 'Helvetica Neue';
        max-width:1226px;
        width: 100%;
        height: 1571px;
        background-color: #FFFFFF;
        margin: 0 auto;
        border-radius: 18px;
        padding-top: 68px;
        .laptop-info-inside{
            max-width:878px;
            width: 100%;
            label{
                font-size: 18px;
            }
            span{
                font-size: 14px;
            }
            
            
            margin: 0 auto;
            .image-upload{
                max-width: 878px;
                width: 100%;
                height: 423px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #F6F6F6;
                margin-bottom: 50px;
                // 
                // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='%23333' stroke-width='2' stroke-dasharray='10%2c10' stroke-dashoffset='54' stroke-linecap='square'/%3e%3c/svg%3e");
                // 
                border: 2px dashed #4386A9;
                border-radius: 18px;
                h3{
                    color: #4386A9;
                    font-size: 20px;
                    font-weight: 700;
                }
                .upload{
                    width: 233px;
                    height: 60px;
                    background-color: #62A1EB;
                    color: #FFFFFF;
                    text-align: center;
                    padding-top: 18px;
                    font-size: 20px;
                    border-radius: 8px;
                    margin-top: 65px;
                    // cursor: pointer;
                    input{
                        opacity: 0;
                        // cursor: pointer;
                    }
                }
            }
            .image-upload:first-child{
                padding-top: 107px;
            }
            .laptop-name-brand{
                font-family: 'Helvetica Neue';
                display: flex;
                max-width: 878px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 52px;
                div{
                    display: flex;
                    flex-direction: column;
                    max-width: 407px;
                    width: 100%;
                }
                input,
                select{
                outline: none;
                border: none;
                border-radius: 8px;
                height: 60px;
                // border: 1.8px solid #8AC0E2;
                padding-left: 16px;
                font-family: 'Helvetica Neue';
                }
                input{
                    border: 1.8px solid #8AC0E2;
                }
                select{
                    background-color: #EBEBEB;
                }
            }
            .line-after-laptop-info{
                width:878px;
                background-color: #C7C7C7;
                border: 1px solid #C7C7C7;
                margin-bottom: 42px;
            }
            .CPU-info{
                // max-width: 878px;
                // width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 41px;
                div{
                    display: flex;
                    flex-direction: column;
                    max-width: 276px;
                    width: 100%;                   
                }
                input,
                select{
                outline: none;
                border: none;
                border-radius: 8px;
                height: 60px;
                // border: 1.8px solid #8AC0E2;
                padding-left: 16px;
                }
                input{
                    border: 1.8px solid #8AC0E2;
                }
                select{
                    background-color: #EBEBEB;
                    font-size: 18px;
                }


            }
            .RAM-info{
                display: flex;
                // align-items: center;
                margin-bottom: 44px;
                .RAM-info-fist{
                    display: flex;
                    flex-direction: column;
                    max-width: 407px;
                    width: 100%;
                    margin-right: 63px;
                    input{
                        outline: none;
                        border: none;
                        border-radius: 8px;
                        height: 60px;
                        border: 1.8px solid #8AC0E2;
                        padding-left: 16px;    
                    }
                }
                .RAM-info-second{
                    p{
                        font-size: 18px;
                        margin-bottom: 26px;
                    }
                    label{
                        font-size: 16px;  
                        margin-right: 60px;
                    }
                }
            }
            .date-price{
                font-family: 'Helvetica Neue';
                display: flex;
                max-width: 878px;
                width: 100%;
                justify-content: space-between;
                // align-items: center;
                margin-top: 50px;
                div{
                    display: flex;
                    flex-direction: column;
                    max-width: 407px;
                    width: 100%;
                    input{
                        outline: none;
                        border: none;
                        border-radius: 8px;
                        height: 60px;
                        border: 1.8px solid #8AC0E2;
                        padding-left: 16px;  
                        height: 60px;  
                        
                    }
                }
            }
            .laptop-condition{
                margin-top: 75px;
                p{
                    font-size: 18px;
                    margin-bottom: 28px;
                }
                label{
                    font-size: 16px;  
                    margin-right: 62px;
                }
            }
            .bottom-buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 76px;
                a{
                    color: #62A1EB;
                    font-size: 18px;
                    align-items: center;
                }
                .next-btn{
                    max-width: 176px;
                    width: 100%;
                    height: 60px;
                    background-color: #62A1EB;
                    border-radius: 8px;
                    text-align: center;
                    padding-top: 18px;
                    a{
                        color: #FFFFFF;
                    }
                    // float: right;
                    cursor: pointer;
                }

            }
            
        }
    }


    

    // 
    .round-logo{
        text-align: center;
        margin: 67px 0 40px 0;
    }
}

@media(max-width: 391px){
    .form-name{
        flex-wrap: wrap;
    }
    
}

.index4{
    font-family: 'Helvetica Neue';
    background-color: #4A4A4A;
    .overlay{
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        max-width: 847px;
        width: 100%;
        height: 537px;
        background-color: #ffffff;
        border-radius: 8px;
        h4{
            font-size: 25px;
            margin-bottom: 79px;
            color: #292929;
            font-weight: 600;
        }
        .next-btn{
            max-width: 297px;
            width: 100%;
            height: 60px;
            background-color: #62A1EB;
            border-radius: 8px;
            font-size: 20px;
            text-align: center;
            padding-top: 18px;
            margin-bottom: 28px;
            a{
                color: #FFFFFF;
            }
            cursor: pointer;
        }
        a{
            font-size: 20px;
            color: #0089A7;
        }
    }
}

.header5{
    font-family: 'Helvetica Neue';
    margin-bottom: 84px;
    img{
        position: relative;
        top: 53px;
        left: 70px;
    }
    .title{
        margin-top: 15px;
        text-align: center;
        font-size: 34px;
        font-weight: bold;
    }

}
.laptop-list8{
    font-family: 'Helvetica Neue';
    max-width: 1176px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 97px auto 0 auto;
    .child-list{
        max-width: 563px;
        width: 100%;
        height: 205px;
        background-color: #EAFAFF;
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: 1px solid #AED1EA;
        padding-left: 14px;
        margin-bottom: 55px;
        img{
            margin-right: 28px;
        }
        h2,
        p{
            font-size: 18px;
            font-weight: 500;
        }
        p{
            margin: 18px 0 28px 0;
        }
        a{
            font-size: 16px;
            color: #4386A9;
            // font-weight: 700;
        }
        a:after{
            content: "";
            float: left;
            max-width: 94px;
            width:100%;
            border: 1px solid #4386A9;
        }
    }
}
// html6
// laptop details

.laptop-details{
    font-family: 'Helvetica Neue';
    max-width: 1178px;
    width: 100%;
    margin: 0 auto;
    .details-upper{
        display: flex;
        flex-wrap: wrap;
        img{
            margin-right: 68px;
        }
        .upper-second{
            display: flex;
            font-size: 22px;
            align-items: center;
            .upper-right{
                color:#797979;
                margin-left:80px;
            }
        }
    }

    .line-after-laptop-info{
        width:1178px;
        height: 0px;
        background-color: #A5A5A5;
        border: 1px solid #A5A5A5;
        margin-bottom: 42px;
    }
    .middle-first{
        margin-right: 200px;
        .middle-left{
            margin-right: 100px;
        }

    }
    .middle-second{
        .middle-left2{
            margin-right: 45px;
        }
    }
    .lower-first{
        margin-right: 250px;
        .lower-left{
            margin-right: 25px;
        }
    }
    .lower-left2{
        margin-right: 20px;
    }

    p{
        font-size: 22px;
        color: #2E2E2E;
        font-weight: 600;
        margin-bottom: 25px;
    }
    h5{
        font-size: 22px;
        color:#797979;
        margin-bottom: 25px;
    }
    .flex-mother{
        display: flex;
        flex-wrap: wrap;
        .flex-child{
            display: flex;
            flex-wrap: wrap;
        }
    }

    .inde6-line1{
        margin: 84px 0 54px 0;
    }
    .inde6-line2{
        margin: 27px 0 54px 0;
    }
}

// .error-text{
//     color:red;
//     display: block;
//     font-size: 11px;
// }
.hide-reg-1{
    display: none;
}
.laptop-info-form{
    // display: none;
}

.active-error{
    div{
        color: red;
        
    }
    input{
        border-color: red;
    }
}